.img-fluid {
  width: 250px; /* Définissez la largeur souhaitée */
  height: 250px; /* Définissez la hauteur souhaitée */
  border-radius: 50%; /* Rend les coins arrondis pour former un cercle */
  object-fit: cover; /* Assure que l'image couvre entièrement le conteneur sans déformation */
  display: block;
  margin-left: 0;
  margin-right: auto;
}